<section data-responsive="true" data-is-screen-width="true" data-col-margin="0"
    data-row-margin="0" class="strc1" id="comp-iffbb7ya"
    style="left: 0px; width: 100%; min-width: 980px; height: auto; margin-left: 0px;">
    <div data-page-id="mainPage" data-enable-video="true" data-bg-effect-name=""
        data-full-screen-height="" data-media-type="" data-use-clip-path=""
        data-needs-clipping="" class="strc1balata" id="comp-iffbb7yabalata"
        style="position: absolute; top: 0px; width: calc(100% - 0px); height: 100%; overflow: hidden; pointer-events: auto; min-width: 980px; left: 0px; right: 0px; bottom: 0px;">
        <div class="bgColor" id="comp-iffbb7yabalatabgcolor"
            style="position: absolute; width: 100%; height: 100%; top: 0px; background-color: transparent;">
            <div id="comp-iffbb7yabalatabgcoloroverlay" class="bgColoroverlay"
                style="width: 100%; height: 100%; position: absolute; top: 0px; opacity: 1;">
            </div>
        </div>
    </div>
    <div id="comp-iffbb7yainlineContent" class="strc1inlineContent"
        style="position: relative; width: calc(100% - 0px); min-width: 980px;">
        <div data-content-width="980" data-is-mesh="true" class="strc1" id="mediajg2evd8u7"
            style="position: relative; width: 100%; left: 0px; flex: 980 1 0%; margin-left: 0px; min-width: 980px; top: 0px; margin-top: 0px; margin-bottom: 0px; display: flex;">
            <div data-page-id="mainPage" data-enable-video="true" data-bg-effect-name=""
                data-full-screen-height="" data-media-type="" data-use-clip-path=""
                data-needs-clipping="" class="strc1balata" id="mediajg2evd8u7balata"
                style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; left: 0px; right: 0px; bottom: 0px;">
                <div class="bgColor" id="mediajg2evd8u7balatabgcolor"
                    style="position: absolute; width: 100%; height: 100%; top: 0px; background-color: rgb(255, 255, 255);">
                    <div id="mediajg2evd8u7balatabgcoloroverlay" class="bgColoroverlay"
                        style="width: 100%; height: 100%; position: absolute; top: 0px; opacity: 1;">
                    </div>
                </div>
            </div>
            <div class="strc1inlineContent" id="mediajg2evd8u7inlineContent"
                style="width: 100%; position: relative; top: 0px; bottom: 0px;">
                <div id="mediajg2evd8u7inlineContent-gridWrapper" data-mesh-internal="true">
                    <div id="mediajg2evd8u7inlineContent-gridContainer"
                        data-mesh-internal="true">
                        <div id="comp-iffbcozs-rotated-wrapper" data-mesh-internal="true">
                            <div data-svg-id="98ba408c354ab496d16c2bbb3403fe57_svgshape.v1.PlusSign.svg"
                                data-svg-type="shape" data-display-mode="legacyFit"
                                data-strokewidth="9" data-viewbox="-62.081 -62.081 377 377"
                                data-preserve-viewbox="ignore" data-angle="339.0087652291081"
                                data-angle-style-location="style" class="style-k0nyump7"
                                id="comp-iffbcozs" style="width: 71px; height: 43px;">
                                <div id="comp-iffbcozslink" class="style-k0nyump7link">
                                    <div class="style-k0nyump7_comp-iffbcozs style-k0nyump7_non-scaling-stroke style-k0nyump7svg"
                                        id="comp-iffbcozssvg"
                                        style="stroke-width: 9; fill-opacity: 1; stroke: rgb(252, 211, 7); stroke-opacity: 1; fill: rgb(252, 211, 7);">
                                        <svg preserveAspectRatio="xMidYMid meet"
                                            id="comp-iffbcozssvgcontent"
                                            data-bbox="0 0 252.492 252.492"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="-137.3853529411765 -33.41805882352942 527.262705882353 319.32811764705883"
                                            role="img">
                                            <g>
                                                <path
                                                    d="M252.492 117.246H135.246V0h-18v117.246H0v18h117.246v117.246h18V135.246h117.246v-18z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div title="" data-is-responsive="false" data-display-mode="fill"
                            data-content-padding-horizontal="0"
                            data-content-padding-vertical="0" data-exact-height="339"
                            class="ca1" id="comp-kby0cwip" style="width: 310px; height: 339px;">
                            <div id="comp-kby0cwiplink" class="ca1link"
                                style="width: 310px; height: 339px;">
                                <svg id="svgcomp-kby0cwipimg" version="1.1" role="img"
                                    aria-label="pilha-de-moeda-de-ouro-24846127.jpg" width="310"
                                    height="339" viewBox="0 0 310 339">
                                    <defs>
                                        <mask id="mask-comp-kby0cwipimg">
                                            <use id="mask-comp-kby0cwipimg-svg-use"
                                                xlink:href="#mask-comp-kby0cwipimg-svg"
                                                width="100%" height="100%" x="0" y="0">
                                            </use>
                                        </mask>
                                        <svg preserveAspectRatio="none"
                                            id="mask-comp-kby0cwipimg-svg"
                                            data-bbox="20 20 160 160" viewBox="20 20 160 160"
                                            height="200" width="200"
                                            xmlns="http://www.w3.org/2000/svg" data-type="shape"
                                            role="img">
                                            <g>
                                                <path d="M180 20v160H20V20h160z"></path>
                                            </g>
                                        </svg>

                                    </defs>
                                    <image width="310" height="339" x="0" y="0" transform=""
                                        preserveAspectRatio="xMidYMid slice"
                                        id="comp-kby0cwipimgimage" data-type="image"
                                        mask="url(#mask-comp-kby0cwipimg)"
                                        data-svg-mask="mask-comp-kby0cwipimg-svg"
                                        xlink:href="../../../assets/images/home/pilha.png"
                                        style="width: 310px; height: 339px; object-fit: cover;">
                                    </image>
                                </svg>
                            </div>
                        </div>
                        <div data-packed="true" data-vertical-text="false" class="txtNew"
                            id="comp-iffbcozm" style="width: 452px; pointer-events: none;">
                            <h2 class="font_2" style="font-size:40px;"><span
                                    style="color:#242323;"><span
                                        style="font-family:museo-w01-700,serif;"><span
                                            style="font-size:40px;">Bora ganhar
                                        </span></span></span></h2>

                            <h2 class="font_2" style="font-size:40px;"><span
                                    style="color:#242323;"><span
                                        style="font-family:museo-w01-700,serif;"><span
                                            style="font-size:40px;">cashback em LQX&nbsp;
                                        </span></span></span></h2>

                            <h2 class="font_2" style="font-size:40px;"><span
                                    style="color:#242323;"><span
                                        style="font-family:museo-w01-700,serif;"><span
                                            style="font-size:40px;">a cada
                                            compra&nbsp;online?&nbsp;</span></span></span></h2>
                        </div>
                        <div data-packed="true" data-vertical-text="false" class="txtNew"
                            id="comp-iffbcozt" style="width: 429px; pointer-events: none;">
                            <h5 class="font_5" dir="ltr" style="font-size:21px;"><span
                                    style="color:#242323;"><span style="font-size:21px;"><span
                                            style="font-style:italic;">Letscoin te avisa quando
                                            você acessar uma loja parceira. Aí é só clicar em um
                                            botão e ativar o cashback!</span></span></span></h5>
                        </div>
                        <div id="comp-iffbcozt1" data-align="center" data-disabled="false"
                            data-margin="0" data-should-use-flex="true" data-width="331"
                            data-height="52" class="style-kby5ysk4"
                            data-state="desktop shouldUseFlex center"
                            style="height: 52px; min-height: 23px; width: 331px;">
                            <button class="botao btn btn-success btn-xl m-1">Criar Conta Agora</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="sessaoDois"><br><br><br><br>
    <div data-svg-id="98ba408c354ab496d16c2bbb3403fe57_svgshape.v1.PlusSign.svg"
        data-svg-type="shape" data-display-mode="legacyFit" data-strokewidth="9"
        data-viewbox="-62.081 -62.081 377 377" data-preserve-viewbox="ignore"
        class="style-kby1by2p" id="comp-kby1bxzw" style="width: 45px; height: 45px;">
        <div id="comp-kby1bxzwlink" class="style-kby1by2plink">
            <div class="style-kby1by2p_comp-kby1bxzw style-kby1by2p_non-scaling-stroke style-kby1by2psvg"
                id="comp-kby1bxzwsvg"
                style="stroke-width: 9; fill-opacity: 1; stroke: rgb(0, 0, 0); stroke-opacity: 1; fill: rgb(47, 46, 46);">
                <svg preserveAspectRatio="xMidYMid meet" id="comp-kby1bxzwsvgcontent"
                    data-bbox="0 0 252.492 252.492" xmlns="http://www.w3.org/2000/svg"
                    viewBox="-31.56149999999998 -31.56149999999998 315.61499999999995 315.61499999999995"
                    role="img">
                    <g>
                        <path
                            d="M252.492 117.246H135.246V0h-18v117.246H0v18h117.246v117.246h18V135.246h117.246v-18z">
                        </path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-kby1by0c"
        style="width: 346px; pointer-events: none;">
        <h2 class="font_2" style="font-size:40px;"><span style="color:#242323;"><span
                    style="font-size:40px;"><span style="font-family:museo-w01-700,serif;">como
                        funciona:</span></span></span></h2>
    </div>
    <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-kby1di0z"
        style="width: 454px; pointer-events: none;">
        <p class="font_8">Quando você ativa a oferta e compra, nós recebemos uma comissão da
            loja.&nbsp;</p>

        <p class="font_8">&nbsp;</p>

        <p class="font_8">Com a maior parte da comissão que recebemos, compramos LQX e te damos
            como
            recompensa. Como o valor da LQX pode aumentar muito, a sua recompensa pode ainda
            maior,
            sem gastar um centavo a mais.</p>

        <p class="font_8"><span>&#8203;</span></p>

        <p class="font_8">Assim todo mundo ganha!</p>
    </div>
    <div class="style-kby5ihuu" id="comp-kby5ihsu" style="height: auto; width: 980px;">
        <div id="comp-kby5ihsubg" class="style-kby5ihuubg"></div>
        <div role="grid" id="comp-kby5ihsuinlineContent" class="style-kby5ihuuinlineContent"
            style="display: flex; position: relative; flex-wrap: wrap; justify-content: flex-start; margin: -13.5px;">
            <div id="comp-kby5ihsu-col0" role="row"
                style="display: flex; flex-direction: column;">
                <div role="gridcell" data-grid-row="0" data-grid-col="0"
                    data-repeater-id="comp-kby5ihsu" tabindex="0"
                    style="margin: 13.5px; direction: ltr;">
                    <div data-is-mesh="true" class="style-kby5ihvf" id="comp-kby5ihuy__item1"
                        style="display: flex;">
                        <div class="style-kby5ihvfcontainer" id="comp-kby5ihuy__item1container"
                            style="border-width: 0px; border-style: solid; border-color: rgb(176, 169, 134); border-radius: 0px; overflow: hidden; transform: translateZ(0px); position: relative; height: 100%; width: 100%; margin: 0px;">
                            <div data-page-id="mainPage" data-enable-video="true"
                                data-bg-effect-name="" data-full-screen-height=""
                                data-media-type="" data-use-clip-path="" data-needs-clipping=""
                                class="style-kby5ihvfbalata" id="comp-kby5ihuy__item1balata"
                                style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; transform: translateZ(0px); left: 0px; right: 0px; bottom: 0px;">
                                <div class="bgColor" id="comp-kby5ihuy__item1balatabgcolor"
                                    style="position: absolute; width: 100%; height: 100%; top: 0px; background-color: rgb(255, 255, 255);">
                                    <div id="comp-kby5ihuy__item1balatabgcoloroverlay"
                                        class="bgColoroverlay"
                                        style="width: 100%; height: 100%; position: absolute; top: 0px; opacity: 1;">
                                    </div>
                                </div>
                            </div>
                            <div class="style-kby5ihvfinlineContentParent"
                                id="comp-kby5ihuy__item1inlineContentParent"
                                style="position: relative; left: 0px; right: 0px; top: 0px; bottom: 0px;">
                                <div class="style-kby5ihvfinlineContent"
                                    id="comp-kby5ihuy__item1inlineContent"
                                    style="width: 308px; position: relative; top: 0px; bottom: 0px;">
                                    <div id="comp-kby5ihuy__item1inlineContent-gridWrapper"
                                        data-mesh-internal="true">
                                        <div id="comp-kby5ihuy__item1inlineContent-gridContainer"
                                            data-mesh-internal="true">
                                            <div data-packed="true" data-vertical-text="false"
                                                class="style-kby5ihw21"
                                                id="comp-kby5ihw3__item1"
                                                style="width: 304px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    Passo
                                                    1</h5>
                                            </div>
                                            <div title="" data-is-responsive="false"
                                                data-display-mode="fill"
                                                data-content-padding-horizontal="12"
                                                data-content-padding-vertical="12"
                                                data-exact-height="310" class="style-kby974s4"
                                                id="comp-kby5ihvg__item1"
                                                style="width: 310px; height: 310px;">
                                                <div id="comp-kby5ihvg__item1link"
                                                    class="style-kby974s4link"
                                                    style="width: 298px; height: 298px;">
                                                    <img id="comp-kby5ihvg__item1imgimage"
                                                        alt="janela-do-navegador-da-web-no-computador"
                                                        data-type="image" itemprop="image"
                                                        src="https://static.wixstatic.com/media/eb3ef0_98a1a60e76a74e8e9890435b2874b803~mv2.jpg/v1/crop/x_1,y_0,w_624,h_626/fill/w_298,h_298,al_c,q_80,usm_0.66_1.00_0.01/janela-do-navegador-da-web-no-computador.webp"
                                                        style="width: 298px; height: 298px; object-fit: cover;">
                                                </div>
                                            </div>
                                            <div data-packed="true" data-vertical-text="false"
                                                class="txtNew" id="comp-kby63bxn__item1"
                                                style="width: 245px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    Cadastre-se</h5>
                                            </div>
                                            <div data-packed="false" data-vertical-text="false"
                                                data-min-height="91" class="style-kby5ihw21"
                                                id="comp-kby5ihw0__item1"
                                                style="width: 219px; min-height: 91px; pointer-events: none;">
                                                <p class="font_8" style="text-align:center;">No
                                                    computador adicione a extensão Lestscoin no
                                                    seu
                                                    navegador. Só gasta dois cliques.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comp-kby5ihsu-col1" role="row"
                style="display: flex; flex-direction: column;">
                <div role="gridcell" data-grid-row="0" data-grid-col="1"
                    data-repeater-id="comp-kby5ihsu" tabindex="-1"
                    style="margin: 13.5px; direction: ltr;">
                    <div data-is-mesh="true" class="style-kby5ihvf"
                        id="comp-kby5ihuy__item-j9r9uz7e" style="display: flex;">
                        <div class="style-kby5ihvfcontainer"
                            id="comp-kby5ihuy__item-j9r9uz7econtainer"
                            style="border-width: 0px; border-style: solid; border-color: rgb(176, 169, 134); border-radius: 0px; overflow: hidden; transform: translateZ(0px); position: relative; height: 100%; width: 100%; margin: 0px;">
                            <div data-page-id="mainPage" data-enable-video="true"
                                data-bg-effect-name="" data-full-screen-height=""
                                data-media-type="" data-use-clip-path="" data-needs-clipping=""
                                class="style-kby5ihvfbalata"
                                id="comp-kby5ihuy__item-j9r9uz7ebalata"
                                style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; transform: translateZ(0px); left: 0px; right: 0px; bottom: 0px;">
                                <div class="bgColor"
                                    id="comp-kby5ihuy__item-j9r9uz7ebalatabgcolor"
                                    style="position: absolute; width: 100%; height: 100%; top: 0px; background-color: rgb(255, 255, 255);">
                                    <div id="comp-kby5ihuy__item-j9r9uz7ebalatabgcoloroverlay"
                                        class="bgColoroverlay"
                                        style="width: 100%; height: 100%; position: absolute; top: 0px; opacity: 1;">
                                    </div>
                                </div>
                            </div>
                            <div class="style-kby5ihvfinlineContentParent"
                                id="comp-kby5ihuy__item-j9r9uz7einlineContentParent"
                                style="position: relative; left: 0px; right: 0px; top: 0px; bottom: 0px;">
                                <div class="style-kby5ihvfinlineContent"
                                    id="comp-kby5ihuy__item-j9r9uz7einlineContent"
                                    style="width: 308px; position: relative; top: 0px; bottom: 0px;">

                                    <div id="comp-kby5ihuy__item-j9r9uz7einlineContent-gridWrapper"
                                        data-mesh-internal="true">
                                        <div id="comp-kby5ihuy__item-j9r9uz7einlineContent-gridContainer"
                                            data-mesh-internal="true">
                                            <div data-packed="true" data-vertical-text="false"
                                                class="style-kby5ihw21"
                                                id="comp-kby5ihw3__item-j9r9uz7e"
                                                style="width: 304px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    Passo
                                                    2</h5>
                                            </div>
                                            <div title="" data-is-responsive="false"
                                                data-display-mode="fill"
                                                data-content-padding-horizontal="12"
                                                data-content-padding-vertical="12"
                                                data-exact-height="310" class="style-kby974s4"
                                                id="comp-kby5ihvg__item-j9r9uz7e"
                                                style="width: 310px; height: 310px;">
                                                <div id="comp-kby5ihvg__item-j9r9uz7elink"
                                                    class="style-kby974s4link"
                                                    style="width: 298px; height: 298px;">
                                                    <img id="comp-kby5ihvg__item-j9r9uz7eimgimage"
                                                        alt="compras-online-o-catalogo-de-produtos-na"
                                                        data-type="image" itemprop="image"
                                                        src="https://static.wixstatic.com/media/eb3ef0_73fa2dd9c313475bb211acca5af9952c~mv2.jpg/v1/crop/x_121,y_0,w_384,h_385/fill/w_298,h_298,al_c,q_80,usm_0.66_1.00_0.01/compras-online-o-catalogo-de-produtos-na.webp"
                                                        style="width: 298px; height: 298px; object-fit: cover;">
                                                </div>
                                            </div>
                                            <div data-packed="true" data-vertical-text="false"
                                                class="txtNew" id="comp-kby63bxn__item-j9r9uz7e"
                                                style="width: 245px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    Descubra e ative a oferta</h5>
                                            </div>
                                            <div data-packed="false" data-vertical-text="false"
                                                data-min-height="91" class="style-kby5ihw21"
                                                id="comp-kby5ihw0__item-j9r9uz7e"
                                                style="width: 219px; min-height: 91px; pointer-events: none;">
                                                <p class="font_8" style="text-align:center;">
                                                    <span
                                                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;">Quando
                                                        você acessar uma loja parceira, vamos te
                                                        avisar no cantinho da tela. Clique no
                                                        botão
                                                        para ativar a oferta e continue
                                                        comprando
                                                        normalmente.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comp-kby5ihsu-col2" role="row"
                style="display: flex; flex-direction: column;">
                <div role="gridcell" data-grid-row="0" data-grid-col="2"
                    data-repeater-id="comp-kby5ihsu" tabindex="-1"
                    style="margin: 13.5px; direction: ltr;">
                    <div data-is-mesh="true" class="style-kby5ihvf"
                        id="comp-kby5ihuy__item-j9r9uxns" style="display: flex;">
                        <div class="style-kby5ihvfcontainer"
                            id="comp-kby5ihuy__item-j9r9uxnscontainer"
                            style="border-width: 0px; border-style: solid; border-color: rgb(176, 169, 134); border-radius: 0px; overflow: hidden; transform: translateZ(0px); position: relative; height: 100%; width: 100%; margin: 0px;">
                            <div data-page-id="mainPage" data-enable-video="true"
                                data-bg-effect-name="" data-full-screen-height=""
                                data-media-type="" data-use-clip-path="" data-needs-clipping=""
                                lass="style-kby5ihvfbalata"
                                id="comp-kby5ihuy__item-j9r9uxnsbalata"
                                style="position: absolute; top: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: auto; transform: translateZ(0px); left: 0px; right: 0px; bottom: 0px;">
                                <div class="bgColor"
                                    id="comp-kby5ihuy__item-j9r9uxnsbalatabgcolor"
                                    style="position: absolute; width: 100%; height: 100%; top: 0px; background-color: rgb(255, 255, 255);">
                                    <div id="comp-kby5ihuy__item-j9r9uxnsbalatabgcoloroverlay"
                                        class="bgColoroverlay"
                                        style="width: 100%; height: 100%; position: absolute; top: 0px; opacity: 1;">
                                    </div>
                                </div>
                            </div>
                            <div class="style-kby5ihvfinlineContentParent"
                                id="comp-kby5ihuy__item-j9r9uxnsinlineContentParent"
                                style="position: relative; left: 0px; right: 0px; top: 0px; bottom: 0px;">
                                <div class="style-kby5ihvfinlineContent"
                                    id="comp-kby5ihuy__item-j9r9uxnsinlineContent"
                                    style="width: 308px; position: relative; top: 0px; bottom: 0px;">
                                    <div id="comp-kby5ihuy__item-j9r9uxnsinlineContent-gridWrapper"
                                        data-mesh-internal="true">
                                        <div id="comp-kby5ihuy__item-j9r9uxnsinlineContent-gridContainer"
                                            data-mesh-internal="true">
                                            <div data-packed="true" data-vertical-text="false"
                                                class="style-kby5ihw21"
                                                id="comp-kby5ihw3__item-j9r9uxns"
                                                style="width: 304px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    <span style="font-family:museo-w01-700,serif;">Passo 3</span>
                                                </h5>
                                            </div>
                                            <div title="" data-is-responsive="false"
                                                data-display-mode="fill"
                                                data-content-padding-horizontal="12"
                                                data-content-padding-vertical="12"
                                                data-exact-height="310" class="style-kby974s4"
                                                id="comp-kby5ihvg__item-j9r9uxns"
                                                style="width: 310px; height: 310px;">
                                                <div id="comp-kby5ihvg__item-j9r9uxnslink"
                                                    class="style-kby974s4link"
                                                    style="width: 298px; height: 298px;">
                                                    <img id="comp-kby5ihvg__item-j9r9uxnsimgimage"
                                                        alt="20200627_181736_0000.png"
                                                        data-type="image" itemprop="image"
                                                        src="https://static.wixstatic.com/media/eb3ef0_f69de04add134df6ae47c5423373cefb~mv2.png/v1/crop/x_1,y_0,w_498,h_500/fill/w_298,h_298,al_c,q_85,usm_0.66_1.00_0.01/20200627_181736_0000.webp"
                                                        style="width: 298px; height: 298px; object-fit: cover;">
                                                </div>
                                            </div>
                                            <div data-packed="true" data-vertical-text="false"
                                                class="txtNew" id="comp-kby63bxn__item-j9r9uxns"
                                                style="width: 245px; pointer-events: none;">
                                                <h5 class="font_5" style="text-align:center;">
                                                    Receba
                                                    suas LQX</h5>
                                            </div>
                                            <div data-packed="false" data-vertical-text="false"
                                                data-min-height="91" class="style-kby5ihw21"
                                                id="comp-kby5ihw0__item-j9r9uxns"
                                                style="width: 219px; min-height: 91px; pointer-events: none;">
                                                <p class="font_8" style="text-align:center;">
                                                    <span
                                                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;">Quando
                                                        a loja parceira confirmar a compra,*
                                                        você já poderá sacar as suas LQX**.&nbsp;</span>
                                                </p>

                                                <p class="font_8" style="text-align:center;">
                                                    <span style="font-family:avenir-lt-w01_35-light1475496,sans-serif;">
                                                        <span>&#8203;</span>
                                                    </span>
                                                </p>

                                                <p class="font_8" style="text-align:center;">
                                                    <span
                                                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;">*
                                                        as lojas podem levar até 90 dias para
                                                        confirmar.</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-kby7j7qz"
        style="width: 362px; pointer-events: none;">
        <h5 class="font_5" style="text-align:center;">E aí? Letscoin?</h5>
    </div>
    <div id="comp-kby7kp42" data-align="center" data-disabled="false" data-margin="0"
        data-should-use-flex="true" data-width="284" data-height="40" role="button" tabindex="0"
        class="style-kby5ysk4" data-state="desktop shouldUseFlex center"
        style="height: 40px; min-height: 23px; width: 284px;">
        <div id="comp-kby7kp42link" class="g-transparent-a style-kby5ysk4link">
            <button class="botao btn btn-success btn-xl m-1">Criar Conta Agora</button>
        </div>
    </div>
    <br><br>
</div>